.ViewAddOrders-Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ViewAddOrders-title {
    font-size: 1.50rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.ViewAddOrders-div-textfields1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ViewAddOrders-table-contenedor {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.ViewAddOrders-button-neworder {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}